@import 'typography';

* {
  margin: 0;
}

main {
  height: 100%;
  width: 100%;
  padding: 0 3rem;
  box-sizing: border-box;
}

// resets

button {
  background-color: unset;
  border: unset;
  padding: unset;
}

a {
  text-decoration: unset;
}