@font-face {
  font-family: 'Hubot-Sans';
  src: url(/fonts/Hubot-Sans.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mona-Sans';
  src: url(/fonts/Mona-Sans.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}