@import '../../styles/mixins';

.topNav, .bottomNav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  box-sizing: border-box;
}

.topNav {
  top: 0;
  padding: 2rem 2rem 1rem 2rem;
}

.bottomNav {
  bottom: 0;
  padding: 1rem 2rem 2rem 2rem;
}

.navLink {
  position: relative;
  color: $colour-black;
  transform: skewX(0deg);
  @include font-xl;
  font-variation-settings: 'wght' 400;
  text-decoration: none;
  text-indent: -0.2rem;
  &:hover {
    .navItem {
      display: block;
      transform: skewX(-8deg);
      transition: all 100ms ease-in;
    }
  }
  &.active {
    transform: skewX(-8deg);
    .navItem {
      text-decoration: underline;
      &:hover {
        transform: unset;
      }
    }
  }
}

.soonTagWrapper {
  position: absolute;
  bottom: -0.5rem;
  right: -0.75rem;
  text-indent: unset;
}

@media screen and (max-width: 768px){
  .navLink {
    @include font-m;
    font-variation-settings: 'wght' 400;
  }

  .soonTagWrapper {
    bottom: -0.6rem;
    right: -0.5rem;
    width: fit-content;
  }
}