.topNav, .bottomNav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  font-family: "Mona Sans";
  font-size: 4rem;
  letter-spacing: -0.1rem;
}

.topNav {
  top: 0;
}

.bottomNav {
  bottom: 0;
}

.navLink {
  position: relative;
  color: black;
  text-decoration: none;
  font-variation-settings: 'ital' 0;
  margin: 1rem 1.5rem;
  text-indent: -0.2rem;
  &:hover {
    .navItem {
      transition: all 75ms ease-in;
      font-variation-settings: 'ital' 7;
    }
  }
}

.soonTagWrapper {
  position: absolute;
  bottom: 10%;
  right: -1rem;
  text-indent: unset;
}

@media screen and (max-width: 700px){
  .topNav, .bottomNav {
    font-size: 1.5rem;
    letter-spacing: unset;
  }

  .soonTagWrapper {
    bottom: -0.6rem;
    right: -0.5rem;
    width: fit-content;
  }
}