.navWrapper {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  .topNav {
    position: absolute;
    top: 0;
  }
  .bottomNav {
    position: absolute;
    bottom: 0;
  }
}