@import '../../styles/mixins';

.soonTag {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  border-radius: 1rem;
  padding: 0.1rem 0.1rem 0.1rem 0.2rem;
  color: white;
  background-color: blue;
  transform: skewY(-8deg);
  @include font-xs;

  .star {
    @include font-xxs;
    margin: 0 0.4rem;
  }
}

@media screen and (max-width: 768px){
  .soonTag {
    @include font-xxs;
    transform: skewY(-6deg);
    .star {
      font-size: 0.5rem;
      margin: unset;
      margin: 0 0.2rem;
    }
  }
}
