@import '../../styles/mixins';
@import '../../styles/variables';

.soonTag {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  transform: skewY(-6deg);
  padding: 0.1em 0.1em 0 0.2em;
  color: $colour-black;
  background-color: white;
  border: 1px solid $colour-black;
  border-radius: 1em;
  @include font-xxs;
  line-height: 1.15em;
  .star {
    font-size: 0.5rem;
    margin: 0 0.2rem;
  }
}
