.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: 'Hubot-Sans';
  letter-spacing: -0.2rem;
  word-spacing: 0.5rem;
  font-size: 4rem;
}