@import '../styles/variables';

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-family: 'Hubot-Sans';
  font-size: 4rem;
  line-height: 3.8rem;
  letter-spacing: -0.3rem;
  word-spacing: 0.5rem;
  text-align: center;
  color: $colour-black;
  div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 100%;
    p {
      position: absolute;
      animation-name: fadeIn;
      top: 0;
    }
    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        p {
          animation-duration: $i * 400ms;
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    top: 1rem;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}